body {
    background-color: lightblue;
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.wrapper-header {
    background-color: rgb(156, 239, 156, 50%);
    padding: 30px;
}
.main {
    background-color: rgb(69, 152, 69, 50%);
    padding: 30px;
}