body {
    background-color: beige;
}
.header {
    background-image: url(images/3-fruit.jpg);
    background-size: cover;
    height: 300px;
}
.site-id {
    text-align: center;
    background-color: rgb(255, 255, 255, 70%);
    border-top: 4px solid black;
    padding: 20px;
    margin: 0px;
}